<form action="/recipes/<%= @recipe_edit.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="name">Recipe name: </label>
    <input type="text" name="name" value="<%= @recipe_edit.name %>"><br>

    <label for="ingredients">Recipe ingredients: </label>
    <input type="text" name="ingredients" value="<%= @recipe_edit.ingredients %>"><br>

    <label for="cook_time">Recipe cook time: </label>
    <input type="text" name="cook_time" value="<%= @recipe_edit.cook_time %>"><br>
    <br>
    <button type="submit">Edit</button>
</form>