<form method="post" action="/recipes">
    <label for="name">Recipe name: </label>
    <input type="text" name="name" /><br>

    <label for="ingredients">Recipe ingredients: </label>
    <input type="text" name="ingredients" /><br>

    <label for="cook_time">Recipe cook time: </label>
    <input type="text" name="cook_time" /><br>
    <br>
    <button type="submit">Create</button>
</form>