<h1> Name: <%= @recipe.name %> </h1>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook time <%= @recipe.cook_time %></p>

<form method="POST" action="/recipes/<%= @recipe.id %>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input id= "delete" type="submit" value="Delete">
</form>






